:root {
  --darazOrange: #f85606;
  --darazLightBlack: #434343;
  --darazLightGrey: #afafaf;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: var(--darazLightBlack);
}

header {
  border-bottom: 1px solid;
  border-bottom-color: var(--darazLightGrey);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 15%;
  padding-right: 15%;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease 0s forwards;
          animation: fadeIn 1s ease 0s forwards;
}
header .msgContainer {
  width: 100%;
}
header .msgContainer .messageAlert {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
header .msgContainer .messageAlert .messageAlertLeft {
  display: flex;
  align-items: center;
  min-width: 400px;
}
header .msgContainer .messageAlert .messageAlertLeft img {
  margin-right: 10px;
}
header .msgContainer .messageAlert .messageAlertRight {
  display: flex;
  align-items: center;
  justify-content: right;
  justify-content: space-between;
  min-width: 400px;
}
header .msgContainer .messageAlert .messageAlertRight p:hover {
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
header .msgContainer .messageAlert .messageAlertRight .language {
  border: none;
  outline: none;
}
header .msgContainer .messageAlert .messageAlertRight .language:hover {
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
header .msgContainer .messageAlert .messageAlertRight .currency {
  border: none;
  outline: none;
}
header .msgContainer .messageAlert .messageAlertRight .currency:hover {
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
header .msgContainer .messageAlert .messageAlertRight .mediaLogo {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
header .msgContainer .messageAlert .messageAlertRight .mediaLogo img:hover {
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

nav {
  padding-left: 15%;
  padding-right: 15%;
  background-color: white;
  display: flex;
  justify-content: inline;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  bottom: 20px;
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  opacity: 0;
  -webkit-animation: popIn 1s ease 0s forwards;
          animation: popIn 1s ease 0s forwards;
}
nav .navLeft {
  display: flex;
  align-items: center;
  justify-content: left;
  justify-content: space-between;
  min-width: 350px;
  margin-right: 45px;
}
nav .navLeft .darazLogo {
  padding-bottom: 3px;
}
nav .navLeft a, nav .navLeft a:visited, nav .navLeft a:active {
  font-size: 20px;
  font-weight: 600;
  color: var(--darazLightBlack);
}
nav .navLeft a:hover {
  color: var(--darazOrange);
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
nav .navRight {
  display: flex;
  align-items: center;
  justify-content: right;
  justify-content: space-between;
  min-width: 550px;
}
nav .navRight form {
  height: 40px;
  display: flex;
  align-items: center;
}
nav .navRight form input {
  width: 300px;
  height: 40px;
  border: 1px solid;
  outline: none;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
  color: var(--darazLightGrey);
}
nav .navRight form button {
  border: none;
  border-top-right-radius: 10px;
  border-end-end-radius: 10px;
  background-color: #f85606;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navRight img:hover {
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
nav .navRight img {
  display: flex;
}
nav .navRight .dropDownMenuButton {
  display: none;
  margin: 10px;
}
nav .navRight .dropDownMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  z-index: 99;
  background-color: white;
  top: 150px;
}
nav .navRight .dropDownMenu img {
  margin: 10px;
  display: block;
}

.itemBanner {
  background-image: url(../images/itemBanner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  -webkit-animation: popOut 0.5s ease 0s forwards;
          animation: popOut 0.5s ease 0s forwards;
}
.itemBanner .itemBannerContainer {
  margin-left: 15%;
  margin-right: 15%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.itemBanner .itemBannerContainer .bannerLeft {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.itemBanner .itemBannerContainer .bannerLeft h1 {
  color: var(--darazOrange);
  font-size: 50px;
  font-weight: 800;
}
.itemBanner .itemBannerContainer .bannerLeft h3 {
  color: white;
  font-size: 32px;
}
.itemBanner .itemBannerContainer .bannerLeft p {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.itemBanner .itemBannerContainer .bannerLeft .preOrder {
  background-color: var(--darazOrange);
  border: none;
  color: white;
  font-weight: 600;
  font-size: 24px;
  width: 250px;
  height: 60px;
  border-radius: 30px;
}
.itemBanner .itemBannerContainer .bannerLeft .preOrder:hover {
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

.featuresContainer {
  margin-left: 15%;
  margin-right: 15%;
  height: 140px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: solid 1px var(--darazLightGrey);
  justify-content: space-between;
  opacity: 0;
  -webkit-animation: popIn 1s ease 0s forwards;
          animation: popIn 1s ease 0s forwards;
}
.featuresContainer .featuresItem {
  display: flex;
  height: 60px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.featuresContainer .featuresItem img {
  margin-right: 20px;
}

.infoContainer {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 60px;
  border-bottom: solid 1px var(--darazLightGrey);
}
.infoContainer .infoLeft {
  opacity: 0;
}
.infoContainer .infoRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
}
.infoContainer .infoRight h1 {
  font-weight: 600;
  font-size: 40px;
}
.infoContainer .infoRight p {
  text-align: justify;
  font-size: 19px;
}

.shopNavContainer {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopNavContainer .shoptitle {
  font-size: 22px;
}
.shopNavContainer .shopSort {
  display: flex;
  font-size: 20px;
  width: 55%;
  justify-content: space-between;
}
.shopNavContainer .shopSort p:hover {
  cursor: pointer;
  color: var(--darazOrange);
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

.itemContainer {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemContainer .contentsBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: solid 1px var(--darazLightGrey);
  padding-bottom: 80px;
  justify-content: center;
  opacity: 0;
}
.itemContainer .contentsBox .content {
  display: flex;
  margin: 16px;
  margin-bottom: 60px;
  flex-direction: column;
  justify-content: space-between;
  height: 460px;
  background-color: white;
  transition: transform 0.2s;
}
.itemContainer .contentsBox .content .imgZoom {
  height: 400px;
  width: 300px;
  overflow: hidden;
}
.itemContainer .contentsBox .content .imgZoom img {
  transition: transform 0.5s ease;
}
.itemContainer .contentsBox .content .imgZoom:hover img {
  transform: scale(1.2);
}
.itemContainer .contentsBox .content .contentInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.itemContainer .contentsBox .content .contentInfo .NP h3 {
  font-size: 18px;
}
.itemContainer .contentsBox .content .contentInfo .NP p {
  font-size: 18;
}
.itemContainer .contentsBox .content .contentInfo img {
  cursor: pointer;
}
.itemContainer .contentsBox .content:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.itemContainer .loadMore {
  border: none;
  background-color: #272727;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  margin-top: 40px;
  height: 60px;
  width: 200px;
  opacity: 0;
  cursor: pointer;
}

footer {
  margin-top: 200px;
  background-color: #c4c4c4;
  height: 220px;
  display: flex;
  align-items: center;
}
footer .copyright {
  margin-left: 15%;
  margin-right: 15%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .copyright p {
  font-size: 12px;
  text-align: justify;
  color: #5e5e5e;
}
footer .copyright p span {
  font-size: 18px;
  font-weight: 500;
}

@-webkit-keyframes slideinRightLeft {
  0% {
    opacity: 0;
    position: relative;
    left: 100%;
  }
  100% {
    opacity: 1;
    position: relative;
    left: 0%;
  }
}

@keyframes slideinRightLeft {
  0% {
    opacity: 0;
    position: relative;
    left: 100%;
  }
  100% {
    opacity: 1;
    position: relative;
    left: 0%;
  }
}
@-webkit-keyframes slideinLeftRight {
  0% {
    opacity: 0;
    position: relative;
    right: 100%;
  }
  100% {
    opacity: 1;
    position: relative;
    right: 0%;
  }
}
@keyframes slideinLeftRight {
  0% {
    opacity: 0;
    position: relative;
    right: 100%;
  }
  100% {
    opacity: 1;
    position: relative;
    right: 0%;
  }
}
@-webkit-keyframes popOut {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popOut {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1380px) {
  header {
    padding-left: 10%;
    padding-right: 10%;
  }
  header .msgContainer .messageAlert .messageAlertLeft {
    display: none;
  }
  header .msgContainer .messageAlert .messageAlertRight {
    width: 100%;
  }
  header .msgContainer .messageAlert .messageAlertRight .mediaLogo {
    width: 80px;
  }
  nav {
    padding-left: 10%;
    padding-right: 10%;
  }
  nav .navLeft {
    min-width: 102px;
    margin-right: 0px;
  }
  nav .navLeft .darazLogo {
    width: 90px;
  }
  nav .navLeft .darazLogo img {
    height: 35px;
  }
  nav .navLeft a {
    display: none;
  }
  nav .navRight {
    min-width: 60%;
    justify-content: end;
  }
  nav .navRight form {
    margin-right: 40px;
  }
  nav .navRight form input {
    width: 200px;
  }
  nav .navRight form button img {
    display: block;
  }
  nav .navRight img {
    display: none;
  }
  nav .navRight .dropDownMenuButton {
    display: block;
  }
  .itemBanner {
    height: 500px;
  }
  .itemBanner .itemBannerContainer {
    margin-left: 10%;
    margin-right: 10%;
  }
  .itemBanner .itemBannerContainer .bannerLeft {
    height: 60%;
  }
  .itemBanner .itemBannerContainer .bannerLeft h1 {
    font-size: 30px;
    font-weight: 800;
  }
  .itemBanner .itemBannerContainer .bannerLeft h3 {
    font-size: 20px;
  }
  .itemBanner .itemBannerContainer .bannerLeft p {
    font-size: 15px;
    font-weight: 500;
  }
  .itemBanner .itemBannerContainer .bannerLeft .preOrder {
    font-weight: 600;
    font-size: 16px;
    width: 200px;
    height: 50px;
  }
  .featuresContainer {
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
  }
  .featuresContainer .featuresItem {
    transform: scale(0.8);
  }
  .infoContainer {
    margin-right: 10%;
    margin-right: 10%;
    flex-direction: column;
    margin-top: 0px;
  }
  .infoContainer .infoLeft {
    width: 50%;
  }
  .infoContainer .infoLeft img {
    width: 100%;
  }
  .infoContainer .infoRight {
    width: 50%;
  }
  .infoContainer .infoRight h1 {
    font-weight: 600;
    font-size: 25px;
  }
  .infoContainer .infoRight p {
    font-size: 16px;
  }
  .shopNavContainer {
    margin-right: 10%;
    margin-right: 10%;
  }
  .shopNavContainer .shoptitle {
    font-size: 15px;
  }
  .shopNavContainer .shopSort {
    font-size: 14px;
    width: 65%;
  }
  .itemContainer {
    margin-right: 10%;
    margin-right: 10%;
  }
  footer .copyright {
    margin-right: 10%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 760px) {
  header {
    padding-left: 5%;
    padding-right: 5%;
  }
  header .msgContainer .messageAlert .messageAlertRight {
    min-width: 300px;
  }
  header .msgContainer .messageAlert .messageAlertRight .mediaLogo {
    display: none;
  }
  nav {
    padding-left: 5%;
    padding-right: 5%;
  }
  nav .navRight {
    width: 100%;
  }
  nav .navRight form {
    margin-right: 10px;
  }
  nav .navRight form input {
    width: 200px;
  }
  nav .navRight img {
    display: none;
  }
  nav .navRight .dropDownMenuButton {
    display: flex;
  }
  .itemBanner {
    background-image: url(../images/moBanner.png);
    background-position: center;
    height: 500px;
  }
  .itemBanner .itemBannerContainer {
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
  }
  .itemBanner .itemBannerContainer .bannerLeft {
    display: flex;
  }
  .itemBanner .itemBannerContainer .bannerLeft h1 {
    display: none;
  }
  .itemBanner .itemBannerContainer .bannerLeft h3 {
    display: none;
  }
  .itemBanner .itemBannerContainer .bannerLeft p {
    display: none;
  }
  .itemBanner .itemBannerContainer .bannerLeft .preOrder {
    background-color: var(--darazOrange);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    width: 180px;
    height: 50px;
    border-radius: 30px;
  }
  .featuresContainer {
    margin-left: 5%;
    margin-right: 5%;
  }
  .featuresContainer .featuresItem {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .featuresContainer .featuresItem img {
    margin: 0px;
  }
  .featuresContainer .featuresItem div {
    display: none;
  }
  .infoContainer {
    margin-right: 5%;
    margin-left: 5%;
  }
  .shopNavContainer {
    margin-right: 5%;
    margin-left: 5%;
    justify-content: center;
  }
  .shopNavContainer .shopSort {
    display: none;
  }
  .itemContainer {
    margin-right: 5%;
    margin-left: 5%;
  }
  footer {
    margin-top: 100px;
    height: 350px;
  }
  footer .copyright {
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 445px) {
  nav {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 120px;
    flex-direction: column;
    align-items: center;
  }
  nav .navRight {
    justify-content: space-between;
    width: 100%;
    height: 40px;
  }
  nav .navRight form {
    margin-right: 10px;
  }
  nav .navRight form input {
    width: 200px;
  }
  nav .navRight img {
    display: none;
  }
  nav .navRight .dropDownMenuButton {
    display: flex;
  }
  nav .navRight .dropDownMenuButton {
    margin: 10px;
  }
  .itemBanner {
    background-image: url(../images/moBanner.png);
    background-position: center;
    height: 400px;
  }
  .itemBanner .itemBannerContainer {
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
  }
  .itemBanner .itemBannerContainer .bannerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .itemBanner .itemBannerContainer .bannerLeft h1 {
    display: none;
  }
  .itemBanner .itemBannerContainer .bannerLeft h3 {
    display: none;
  }
  .itemBanner .itemBannerContainer .bannerLeft p {
    display: none;
  }
  .itemBanner .itemBannerContainer .bannerLeft .preOrder {
    background-color: var(--darazOrange);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    top: 140px;
  }
  .featuresContainer {
    display: none;
    height: auto;
    flex-wrap: wrap;
  }
  .featuresContainer .featuresItem {
    width: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .infoContainer {
    margin-top: 40px;
  }
  .infoContainer .infoLeft {
    width: 60%;
    margin-bottom: 20px;
  }
  .infoContainer .infoRight {
    align-items: center;
  }
  .infoContainer .infoRight h1 {
    margin-bottom: 10px;
  }
  .infoContainer .infoRight p {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */